.portfolio-section {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: column;

  &__div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__ul {
    list-style: none;
    display: flex;

    justify-content: left;
    gap: 8px;
  }

  &__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: $componentcolorgrey3;
    text-align: center;
    letter-spacing: 0.03em;
    width: 103px;
    height: 38px;
    border: none;
    border-radius: 4px;

    &:active,
    &:hover,
    &:focus {
      background-color: $componentcolorblue;
      cursor: pointer;
      color: $white;
      box-shadow: 0px 3px 1px $boxshadowcolor6, 0px 1px 2px $boxshadowcolor7,
        0px 2px 2px $boxshadowcolor1;
      border-radius: 4px;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    &__div {
      display: flex;
      gap: 8px;
      flex-direction: row;
      justify-content: center;
    }

    &__ul {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__div {
      gap: 10px;
    }

    &__ul {
      gap: 10px;
    }

    &__button {
      height: auto;
      width: auto;
      padding: 4px 22px;
    }
  }
}
