.section-five {
  padding-top: 60px;
  padding-bottom: 60px;

  &__H2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &__div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
  }
  &__ul {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
  }
  &__a {
    border: 1px solid $componentcolorgrey2;
    fill: $componentcolorgrey2;
    border-radius: 4px;
    padding-top: 16px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 16px;
    display: inline-block;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      border: 1px solid $componentcolorblue;
      fill: $componentcolorblue;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 768px) {
  .section-five {
    &__div {
      flex-direction: column;
      margin-top: 50px;
    }
    &__ul {
      flex-direction: row;
    }
    &__a {
      padding-top: 16px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 16px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .section-five {
    padding-top: 94px;
    padding-bottom: 94px;

    &__div {
      flex-direction: row;
      margin-top: 50px;
    }
    &__ul {
      flex-direction: row;
    }
    &__a {
      padding-top: 17.71px;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 14.25px;
    }
  }
}
