.section-one {
  background: linear-gradient($lineargradientcolor1, $lineargradientcolor1),
    url("../images/tlo480.jpg");
  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section1 {
      background: url(../images/tlo480x2.jpg);
    }
  }

  &__H1 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.61;
    width: 365px;
    color: $white;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &__button {
    background: $componentcolorblue;
    box-shadow: 0px 4px 4px $boxshadowcolor8;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $white;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 41px;

    &:hover {
      cursor: pointer;
    }
  }

  &__backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $backdropcolor;
    transition-property: visibility, opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }

  &__is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translate(42px, 18px);
  }
}

@media screen and (min-width: 768px) {
  .section-one {
    background: linear-gradient($lineargradientcolor1, $lineargradientcolor1),
      url("../images/tlo768.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .section1 {
        background: url(../images/tlo768x2.jpg);
      }
    }

    &__H1 {
      font-size: 26px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .section-one {
    background: linear-gradient($lineargradientcolor1, $lineargradientcolor1),
      url("../images/tlo1200.jpg");
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .section1 {
        background: url(../images/tlo1200x2.jpg);
      }
    }
  }

  &__H1 {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
