$bodytextcolor: #212121;
$componentcolorblue: #2196f3;
$componentcolorgrey: #757575;
$componentcolorgrey2: #afb1b8;
$componentcolorgrey3: #f5f4fa;
$black: #000;
$white: #fff;
$font-family: "Roboto", "Relaway", sans-serif;
$coloradress: rgba(255, 255, 255, 0.6);
$footerbackgroundcolor: #2f303a;
$borderlabelcolor: rgba(33, 33, 33, 0.2);
$headerbordercolor: #ececec;
$boxshadowcolor1: rgba(0, 0, 0, 0.12);
$boxshadowcolor2: rgba(0, 0, 0, 0.14);
$boxshadowcolor3: rgba(0, 0, 0, 0.2);
$boxshadowcolor4: rgba(0, 0, 0, 0.06);
$boxshadowcolor5: rgba(0, 0, 0, 0.16);
$boxshadowcolor6: rgba(0, 0, 0, 0.1);
$boxshadowcolor7: rgba(0, 0, 0, 0.08);
$boxshadowcolor8: rgba(0, 0, 0, 0.15);
$portfolioficgapctionbordercolor: #eeeeee;
$iconcloseborder: #afb1b8;
$bordernewsletter: rgba(255, 255, 255, 0.3);
$overlaybackgroundcolor: rgba(33, 150, 243, 0.9);
$overlaytextcolor: #2a2a2a;
$lineargradientcolor1: rgba(47, 48, 58, 0.4);
$indexfigcaptioncolor: rgba(47, 48, 58, 0.8);
$backdropcolor: rgba(0, 0, 0, 0.2);
